.admin-dashboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 80vh;

  .admin-dashboard-title {
    display: flex;
    justify-content: center;
  }

  .admin-dashboard-container {
    display: flex;
    justify-content: space-between;

    .user-types {
      margin: 0 20px;
      box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
      padding: 50px;
      cursor: pointer;
    }
  }
}
