<div *ngIf="isLoading; else examListTemplate">Loading...</div>
<ng-template #examListTemplate>
  <div class="student-exam-detail-container">
    <h1>{{ examDetails.name }}</h1>
    <h3>{{ examDetails.description }}</h3>
    <div *ngIf="examDetails.isNotRegistered; else userGradingContainer">
      <button mat-raised-button color="primary" (click)="registerExam()">Register</button>
      <mat-progress-bar mode="indeterminate" *ngIf="registering"></mat-progress-bar>
    </div>
    <ng-template #userGradingContainer>
      <div
        class="student-grades-container"
        *ngIf="examDetails.studentGrades && examDetails.studentGrades.length; else gradingPendingContainer"
      >
        <div style="text-align: center">
          <h2>Grades</h2>
        </div>
        <div class="student-grades" *ngFor="let grades of examDetails.studentGrades">
          <h4>{{ grades.subject }}</h4>
          -
          <h4>{{ grades.grade }}</h4>
        </div>
      </div>
      <ng-template #gradingPendingContainer>
        <h1>Grading is still in progress</h1>
      </ng-template>
    </ng-template>
  </div>
</ng-template>
