.order-status-request-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .form-field-1 {
    margin: 10px 0;
  }
}

.order-status-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
