<div *ngIf="isLoading; else productListTemplate">Loading...</div>
<ng-template #productListTemplate>
  <div class="customer-dashboard-container">
    <div *ngIf="!productsList?.length; else productsTemplate">
      <h2 style="text-align: center">Products are not available</h2>
    </div>
    <ng-template #productsTemplate>
      <div class="course-container" *ngFor="let product of productsList">
        <mat-card class="course-detail">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>Price:- ${{ product.price }}</mat-card-subtitle>
          <mat-card-content>
            <p>{{ product.description }}</p>
            <p>{{ product.waitingTime }}</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <div></div>
            <button mat-raised-button color="primary" (click)="viewDetails(product)">Order</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </div>
</ng-template>
