.customer-dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  background-color: white;

  .create-dashboard-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 20px;
  }

  .course-container {
    width: 45%;
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .customer-dashboard-container {
    .course-container {
      width: 100%;
      padding: 20px;
    }
  }
}
