<h2 mat-dialog-title style="text-align: center">Register Student</h2>
<div *ngIf="fetchingUsers; else registerStudentTemplate">Loading...</div>
<ng-template #registerStudentTemplate>
  <mat-dialog-content class="mat-typography">
    <div *ngIf="!unRegisteredUsers.length; else usersListTemplate">
      <h2>All students are registered</h2>
    </div>
    <ng-template #usersListTemplate>
      <form [formGroup]="form">
        <div class="add-exam-request-form">
          <div class="form-field-1">
            <mat-form-field>
              <mat-label>Select User</mat-label>
              <mat-select formControlName="selectedUser" required>
                <mat-option>Select</mat-option>
                <mat-option *ngFor="let user of unRegisteredUsers" [value]="user.value">
                  {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </ng-template>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="add-exam-actions">
      <button
        mat-raised-button
        mat-dialog-close
        color="warn"
        (click)="cancel()"
        [disabled]="isLoading || fetchingUsers"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        [disabled]="!form.valid.valueOf() || isLoading || !unRegisteredUsers.length || fetchingUsers"
        color="primary"
        (click)="create()"
        cdkFocusInitial
      >
        Register
      </button>
    </div>
  </mat-dialog-actions>
</ng-template>
